#container {
    margin-top: 25px;
    width: 750px;
    height: 586px;
    background-color: rgb(21, 21, 21);
    border: 0px #333 transparent;
    opacity: 72%;
    border-radius: 9px
  }
  #container-header {
    width: 750px;
    height: 26px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: rgb(12, 12, 12);
    opacity: 70%;
  }

  #container2 {
    margin-top: 25px;
    width: 291px;
    height: 586px;
    border: 1px rgb(0, 0, 0) transparent;
    background-color: rgb(21, 21, 21);
    opacity: 72%;
    border-radius: 9px;
  }

  #container2-header {
    width: 291px;
    height: 26px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: rgb(12, 12, 12);
    opacity: 70%;
  }

  #container3 {
    margin-top: 25px;
    width: 291px;
    height: 586px;
    border: 1px rgb(0, 0, 0) transparent;
    background-color: rgb(21, 21, 21);
    opacity: 72%;
    border-radius: 9px;
  }

  #container3-header {
    width: 291px;
    height: 26px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: rgb(12, 12, 12);
    opacity: 70%;
  }

  .buttonElement {
    background-color: rgb(12, 12, 12);
    font-size: 19px;
    opacity: 60%;
    padding-top: 11px;
    margin: 2px;
    padding-bottom: 7px;
    border-radius: 10px;
    transition: 0.5s;
  }
  .buttonElement:hover{
    background-color: rgb(36, 36, 36);
    transition: 0.5s;
  }
  .active{
    background-color: rgb(36, 36, 36);
  }
  .buttonElement:active{
    background-color: rgb(36, 36, 36);
  }
  button.buttonElement:active{
    background-color: rgb(36, 36, 36);
  }

  .buttonactive {
    background-color: rgb(211, 211, 211);
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);
  }
  .buttonactive:hover{
    background-color: rgb(136, 136, 136);
  }

  #videoElement {
    padding-top: 5px;
    width: 768px;
    height: 552px;
    transform: scaleX(-1);
  }

  .flipimg {
    transform: scaleX(-1);
  }

  body {
    background-color: rgb(28, 28, 28);
    font-family: 'Lekton', sans-serif;
  }

  button {
    font-weight: bolder;
  }

  h1{
    font-weight: bolder;
    opacity: 65%;
  }

  p {
    font-weight: bolder;
  }

  .canvas-container {
    width: 250px;
    height: 210px;
    background: rgb(12, 12, 12);
    border-radius: 16px;
    opacity: 78%;
    padding-top: 26px;
  }

  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: rgb(12, 12, 12);
    border-radius: 30px;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    background: #414141;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #414141;
    cursor: pointer;
  }

  .bg-black-header{
    background-color: rgb(12, 12, 12);;
  }

.mx-1-2{
  margin-left: 0.30rem;
  margin-right: 0.30rem;
}

.flash-container{
  pointer-events: none;
  z-index: 10;
  opacity: 0%;
  width: 1390px;
  height: 600px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0px 80px rgb(255, 255, 255);
}
.flash-container-active{
  opacity: 100%;
  background-color: rgb(255, 255, 255);
}

.timer-one{
  background-color: rgb(67, 67, 67);
  width: 90px;
  height: 90px;
  opacity: 0%;
  margin-top: 270px;
  border-radius: 100%;
}
.timer-one::before {
  font-weight: bolder;
  color: rgb(255, 255, 255);
  content: "";
  opacity: 70%;
  font-size: 65px;
  padding-left: 30px;
  animation-name: timerframes;
  animation-duration: 3s;

}
@keyframes timerframes {
  0% {content: "3";}
  25%  {content: "3";}
  50% {content: "2";}
  75% {content: "1";}
  100% {content: "1";}
}

.timer-one-start {
  opacity: 65%;
  animation-play-state: initial;
}

.help-container {
  width: 1373px;
  height: 586px;
  position: absolute;
  z-index: 20;
  border: 1px rgb(0, 0, 0) transparent;
  background-color: rgb(21, 21, 21);
  margin-top: 25px;
  opacity: 100%;
  border-radius: 9px
}
.help-container-header {
  width: 1373px;
  height: 26px;
  z-index: 20;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: rgb(12, 12, 12);
  opacity: 100%;
}

.help-scene {
 z-index: 9;
}
.help-scene-light {
  pointer-events: none;
  margin-left: 954px;
  margin-top: 71px;
  z-index: 10;
  opacity: 98%;
  width: 72px;
  height: 76px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0px 110px rgb(255, 255, 255);
  animation-name: scene-light-anim;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}
@keyframes scene-light-anim {
  0% {opacity: 100%;}
  25%  {opacity: 90%;}
  50% {opacity: 70%;}
  75% {opacity: 80%;}
  100% {opacity: 100%;}
}
